extend layout

block content
    div.container
        div.row
            div.col-md-6
                div.about_detail_box
                    h3 About Us 
                    p The national library of Uzbekistan of Alisher Navoiy (till April 12, 2002 the State library of the Republic of Uzbekistan of Alisher Navoiy) received the status of the President of the Republic of Uzbekistan, "national" on the basis of the Decree, "About improvement of the organization of research activity" of February 20, 2002 No. UP-3029 and Resolutions of the Cabinet of the Republic of Uzbekistan "About creation of National library of Uzbekistan of Alisher Navoiy" of April 12, 2002 No. 123.
                    div.d-flex.justify-content-center.justify-content-sm-start
                        a.sub_call_to-btn(href='/donate')
                            span Make a contribution
                            img(src="/static/images/right-arrow.png", alt="", srcset="")
                    br
            div.col-md-6
                div.about_img-box
                    img(src="/static/images/lawyer.png", alt="", srcset="")