extend layout

block content
	h2 Books Collection
	ul.books-list
		each book in books
			li
				a(href="/books/" + book.id)= book.title
				br
				button
					a(href="/books/" + book.id + "/update").delete Update
				br
				button
					a(href="/books/" + book.id + "/delete").delete Delete
				br
				if book.rented
					button
						a(href="/books/" + book.id + "/return").delete Return
				else
					button
						a(href="/books/" + book.id + "/rent").delete Rent