extends layout.pug

block number1 
    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Type here' name='name')
        button.btn Add

    div.list
        each book in bookShelf ? bookShelf : [] 
            p.book #{ book.name }
