doctype html 
html(lang="en")
    head
        title Alisher Navoi's Library
        link(rel="stylesheet", href="/static/css/style.css")
    body 
        div.wrapper
            h1.logo Alisher Navoi's Library

            block content