extend layout

block content
	h1 Rented books
	ul.books-list
		each book, index in books
			li
				a(href="/books/" + book.id)= book.title
				br
				button
					a(href="/books/" + book.id + "/return").return Return